@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  text-align: center;
  color: rgba(29, 31, 38, 0.8);
  font-family: "Inter";
}

.LoginScreen,
.ProfileScreen {
  background: linear-gradient(135deg, #ac53ff 0%, #4439ff 100%);
  min-height: 100vh;
  display: grid;
  place-content: center;
  grid-template-rows: 100px auto;
}

.LoginScreen img,
.ProfileScreen img {
  justify-self: center;
}

.formContainer,
.profileContainer {
  background-color: white;
  display: grid;
  place-content: center;
  padding: 28px 32px 40px;
  height: 336px;
  border-radius: 20px;
}

.formContainer {
  gap: 25px;
}

.formContainer button,
.profileContainer .LoginButton {
  height: 48px;
  width: 180px;
  color: white;
  border: none;
  margin: auto;
  padding: 10px 30px;
  margin-bottom: 12px 22px 12px 28px;
  background: #2f7bff;
  box-shadow: 0px 8px 24px -4px rgba(47, 123, 255, 0.5);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.formContainer button img,
.profileContainer .LoginButton img {
  align-self: center;
  padding-bottom: 0;
}

.formContainer button p,
.profileContainer .LoginButton p {
  color: white;
  font-size: 14px;
  padding-bottom: 0;
  align-self: center;
  font-weight: 400;
}

#loader {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.formContainer button:hover {
  box-shadow: 0px 8px 24px -4px #2f7bff;
}

.formContainer button:active {
  background: #0057ff;
  box-shadow: none;
}

.formContainer h2 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}
.formContainer p {
  font-size: 14px;
}

.formContainer input {
  text-align: left;
  border: 2px solid transparent;
}

.formContainer input:focus-visible {
  outline: none;
}

.error {
  color: red;
  text-align: left;
  height: 20px;
  font-size: 13px !important;
  margin-top: -20px;
  margin-bottom: -20px;
}

.profileContainer {
  width: 320px;
  height: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.BorderError {
  border: 2px solid red !important;
}

.profileContainer img {
  border-radius: 50%;
  align-self: center;
  padding-bottom: 8px;
}

.profileContainer p {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 20px;
}

.profileContainer .LoginButton {
  margin: 0 auto;
}

.inputContainer {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  width: 100%;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border: none;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 12px 12px 12px 12px;
}

.inputContainer:hover {
  border: 2px solid #2f7bff;
}

.inputContainer img {
  display: none;
}

.show {
  display: block !important;
}
